body {
    background-image: url(/img/pencil.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    overflow:scroll;
    background-size: cover;
    background-color:#dedede;
}

#headDiv {   
    font-family:serif;
	font-size: 72px;
	padding: 20px;
	background-color: white;
    border-radius: 25px;   
    text-align: center;
    box-shadow: 10px 10px grey;
    
}
    
ol {
  margin: 45px;  
    
              
         }

.blueLink {
            background-color: #a7a7a7;
             padding: 15px;
             border-radius:15px;
             width: 500px;
             font-size: 72px;
             box-shadow: 10px 10px; 
    
}
.redLink {
            background-color: #a7a7a7;
             padding: 15px;
             border-radius:15px;
             width: 500px;
             font-size: 72px;
             box-shadow: 10px 10px; 
    
}
    
}

        .redLink,.blueLink,#headDiv:link {
                text-decoration: none;
                color:white;
}

        .redLink,.blueLink,#headDiv:visited {
                text-decoration: none;
                color:white;
}

          .redLink:hover {
                text-decoration: underline;
                color:#ffb717;
}

          .redLink:active {
                text-decoration: underline;
                color:#ffb717;
}

          .blueLink:hover {
                text-decoration: underline;
                color:skyblue;
}

          .blueLink:active {
                text-decoration: underline;
                color:skyblue;
}

#headDiv:hover {
    text-decoration: underline;
    color:#898a8b;
    box-shadow: 10px 10px #898a8b;
    background-color: aliceblue;
}