#myBtn {
    display: none !important;
}
#myBtn2 {
    display: none !important;
}
#myBtn3 {
    display: none !important;
}

#headDiv {
    display: none !important;
}
#nameText {
    display: none !important;
}

#profile {
    display: none !important;
}
.flip-box {
    display: none !important;
}

.imgbox {
            display: grid;
            height: 100%;
            margin: 0
            
        }
.center-fit {
            max-width: 100%;
            max-height: 100% !important;
            margin: 0 !important;
            padding: 0;
}
#overlay {
    display: none !important;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin:auto;
}
#overlayBack {
    display: none !important;
    position: absolute;
    top: 47%;
    left: 5%;
    z-index: 5;
    margin:auto;
    font-size: 2vmin;
    max-width: 28%;
    text-overflow: "...(Resize page)";
    
}

#overlayDesc {
    display: none !important;
    position: absolute;
    top: 47%;
    left: 37%;
    z-index: 5;
    font-size: 2vmin;
    width: 57%;
    text-overflow: "...(Resize page)";
}
.names {
   font-size: 12px !important; 
}

.actions {
    font-size: 8px !important; 
}