body {
  background-color: lightblue;
}

#myTitle {
  font-size: 40px;
  margin: 0px 0px 0px 0px;
}

#myTimer {
  font-size: 60px;
  margin: -5px 0px 10px 0px;
  padding: 0px 10px 10px 10px;
  width: 140px;
  height: 60px;
  border-style: solid;
  background-color: white;
}

#workClock {
  font-size: 10px;
}

#breakClock {
  font-size: 10px;
}

.btn {
  width: 100px;
  height: 40px;
}
