
body {
    background-color: #ffaf44;
}

img {
	border-radius:25px;
}

#headDiv {
    display: block;
    width: 100px;
    font-family:serif;
	font-size: 72px;
	padding: 20px;
    border-radius: 25px;   
    text-align: center;
    box-shadow: 10px 10px rgba(159, 200, 255, 0.19);
	background-color: #ffc06b;
 
}
#headDiv:link {
    text-decoration: none;
                
}
#headDiv:visited {
    text-decoration: none;
                
}
#headDiv:hover {
    text-decoration: underline;
    color:red;
    box-shadow: 10px 10px red;
}