body {
    background-image: url(../img/pencil.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    overflow:hidden;
    background-size:cover;
    background-color:#dedede;
    min-height: 100%;
}

#headDiv {
    display: block;
    width: 100px;
    font-family:serif;
	font-size: 72px;
	padding: 20px;
	background-color: white;
    border-radius: 25px;   
    text-align: center;
    box-shadow: 10px 10px rgba(159, 200, 255, 0.19);
    }

#headDiv:link {
    text-decoration: none;
                
}
#headDiv:visited {
    text-decoration: none;
                
}
#headDiv:hover {
    text-decoration: underline;
    color:skyblue;
    box-shadow: 10px 10px skyblue;
}

#startBtn {
    display: inherit;
}
#gamespace{
    display: inline-block;
    width: 50vw;
}

#yellowBtn {
    display:none;
    width: 20vw;
    height: 20vh;
    background-color: yellow;
    border-color: goldenrod;
    border-style: solid;
}
#blueBtn {
    display:none;
    width: 20vw;
    height: 20vh;
    background-color: blue;
    border-color: darkblue;
    border-style: solid;
}
#greenBtn {
    display:none;
    width: 20vw;
    height: 20vh;
    background-color: green;
    border-color: darkgreen;
    border-style: solid;
}
#redBtn {
    display:none;
    width: 20vw;
    height: 20vh;
    background-color: red;
    border-color: darkred;
    border-style: solid;
}